.showtimes{
        min-height: 650px;
}
.showtimes .wrapper {
    padding: 0 15px;
}
.showtimes .native-promo-spot-showtimes {
    margin-top: 8px;
}
.showtimes .applied-filters {
    display: block;
}
.showtimes .applied-filters .added-filters {
    margin: 5px 0;
    display: block;
    min-height: 1px;
    padding: 0 10px;
    transition: .3s;
    width: 100%;
}

.wrapper-main:not(._touch), .wrapper:not(._touch) {
    max-width: 1200px;
}

.buyticket-page:not(._touch) .showtimes .wrapper .container {
    min-height: 600px;
}
.buyticket-page .showtimes .wrapper .container {
    zoom: 1;
    background: #fff;
    padding: 0 0 15px;
    position: relative;
}